body {
  width: 70%;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1.5em;
}

h1 {
  font-size: 32px;
}

table, th, td {
  border: 1px solid black;
  
}

figcaption {
  font-style: italic;
}

figure {
  float: right;
  margin: 2em 0em 1.5em 3em;
}

